
@font-face {
    font-family: 'futuraMD';
    src: url('../../fonts/16020_FUTURAM.ttf');
    src: url('../../fonts/16020_FUTURAM.ttf') format('truetype');
    font-weight: normal;
    font-style: normal;
}

@narrow: 'PT Sans Narrow', 'Arial Narrow', sans-serif;
@verdana: 'Verdana', 'Geneva', 'Tahoma', sans-serif;
@tahoma: 'Tahoma', sans-serif;

body {
    font-family: @tahoma;
    font-size: 1.1em;
    //letter-spacing: -1px;
    /*font-size-adjust: 1.0;*/
}

h1, h2, h3, .title-text {
    font-family: @narrow;
}
//Logo bar
//(the base css code can be found in adminlte/header.less)
.logo {
    font-weight: 600;
    //background-color:none !important;
    font-family: @narrow !important;

    .logo-lg {
        //this is visibile only when sidebar isn't collapsed - see the base code
        font-weight: 500;
        //text-shadow:0 0 1px #fff,0px 1px 50px #000;
    }

    .logo-mini {
        //text-shadow:0 0 1px #fff,0px 1px 50px #000;
        font-weight: 200;
    }
}

// VARIABLES
/**
    Fonts
*/

/**
    Colors
*/


// DEFAULTS
/**
    Top menu
*/


/**
    Left sidebar
*/

/**
    Context sidebar
*/

/**
    Dialog
*/

/**
    Forms
*/

/**

*/






/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-TimekeepingDB-DtrDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-TimekeepingDB-DtrDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-TimekeepingDB-DtrDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}

/* ------------------------------------------------------------------------- */
/* APPENDED BY CODE GENERATOR, MOVE TO CORRECT PLACE AND REMOVE THIS COMMENT */
/* ------------------------------------------------------------------------- */


.s-TimekeepingDB-DtrDialog {
    > .size { width: 650px; }
    .caption { width: 150px; }
}