
@{
    ViewData["Title"] = Serenity.LocalText.Get("Db.TimekeepingDB.Dtr.EntityPlural");
}

<div id="GridDiv"></div>

<script type="text/javascript">
    jQuery(function () {
        new MIS.TimekeepingDB.DtrGrid($('#GridDiv'), {}).init();

        Q.initFullHeightGridPage($('#GridDiv'));
    });
</script>